<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    プロパティを持たないStringオブジェクトを表示<br>
    <span th:text="${name}">ダミー太郎</span>
    <!-- spanタグなので挟まれている文は表示されない -->
    <!-- コントローラで格納した、キー：name、要素：伊達政宗 が表示される-->
    <br><br>
    Carオブジェクトのspeedプロパティを表示<br>
    <span th:text="${car.speed}">1</span><br><br>
    <!-- car.speedはメソッドじゃなくて属性 -->

    テキスト103ページ<br>
    Carオブジェクトのspeedプロパティを表示<br>
    <span th:object ="${car}">
        <span th:text="*{speed}">dummy</span>
    </span>
    <br><br>

    <table th:object="${car}">
        <tr>
            <th>スピードの値</th>
            <td th:text="*{speed}">dummy</td>
        </tr>
        <tr>
            <th>車体の色</th>
            <td th:text="*{bodyColor}">dummy</td>
        </tr>
    </table>
</body>
</html>